html {
  box-sizing: border-box;
  margin: 0 !important;
  padding: 0 !important;
  font-size: 16px;
}

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  background-color: #222222;
  margin:0;
}


h1, h2, h3, h4, h5, h6, p, ul{
  margin: 0;
  padding: 0.5rem 1rem;
}

.header{
  height: 3.75rem;
  width: 100%;
}

.nav{
  width: 100%;
  position: fixed;
  display: block;
  background: #333333;
}

.nav-links{
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-links > li{
  display: inline-block;
}

.nav-links a{
  text-decoration: none;
  display: inline-block;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 700;
  color: #DDDDDD;
}

.nav-links a:hover{
  color: #61afef;
}

.section{
  background-color: #FFFFFF;
  padding: 3rem 1.5rem;
}

.section-accent{

}

.intro{
  background-color: #222222 ;
  height: calc(100vh - 8rem);
}


.page-header{
  display: inline-block;
  width: 15rem;
  margin-top: 5rem;
}

.page-title{
  font-size: 5rem;
  padding: 0.5rem;
  display: block;
  font-weight: bolder;
  text-transform: uppercase;
  color: #FFF;
}

.page-subtitle{
  font-weight: 100;
  font-size: 1.5rem;
  color: #E9967A;
}

.footer{
  background-color: #616161;
  padding: 1rem;
  text-align: center;
}


.icon-social{
    text-decoration: none;
    color: #CCCCCC;
    font-size: 2rem;
    display: inline-block;
    margin-right: .5rem;
    
}

.icon-social:hover{
  color: #61afef;
}

.icon-large{
  font-size: 3rem;
  color: #888;
  padding: 0.5rem 1rem;
}

.line{
  background-color: #CCCCCC;
  height: 4px;
  margin-bottom: 1rem;
}

.line-full{
  background-color: #888;
  width: 100%;
  height: 4px;
}

.profile-pic{
  width: 10rem;
  display: inline-block;
  height: auto;
  border-radius: 10px;
  margin: 0.5rem;
}

.drop-shadow{
  -webkit-box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.4); 
  -moz-box-shadow: 0px 4px 6px 1px rgba(0,0,0,0.4); 
  box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.4);
}

.back-shadow{
  -webkit-box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.3); 
  -moz-box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.3); 
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.3);
}

.wrapper {
  margin: auto;
  max-width: 1024px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.col-1 {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}

.col-4 {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}

.row-list{
  list-style: none;
}

.row-list > li{
  display: inline-block;
}

.cap-small{
  text-align: center;
  border-radius: 0.5rem;
  font-size: 0.8rem;
  padding: 0.5rem;
  margin: 0.25rem;
  background-color: #888;
  color: #FFF;
  text-decoration: none;
}

.cap-large{
  text-align: center;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  padding: 0.5rem;
  margin: 0.25rem;
  background-color: #888;
  color: #FFF;
  text-decoration: none;
}

.cap-blue{
  background-color: #5d7ab4;
}

.cap-red{
  background-color: #a74949;
}

.cap-green{
  background-color: #64ac8e;
}

.cap-purple{
  background-color: #9255aa;
}

.center-text{
  text-align: center;
}

.center-content{
  margin-left: auto;
  margin-right: auto;
}

.card{
  margin: 1rem;
  border-radius: 0.5rem;
}

.card-row{
  width: calc(100% - 2rem);
}

@media (min-width: 50rem){
  .col-1{
    flex: 1;
  }

  .col-4{
    flex: 4;
  }

  .nav-links a{
    font-weight: 500;
    font-size: 1.5rem;
  }

  .page-header{
    width: auto;
    margin-top: 10rem;
  }
}


