html {
  box-sizing: border-box;
  margin: 0 !important;
  padding: 0 !important;
  font-size: 16px;
  color: #EEE;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #09001f;
  margin:0;
}


h1, h2, h3, h4, h5, h6, p, ul{
  margin: 0;
  padding: 0.5rem 1rem;
}

h1{
  font-size: 3rem;
  padding: 0.5rem;
  display: inline;
  font-weight: bold;
  color: #ff255b;
}

h2{
  font-size: 1.5rem;
  color: #ff255b;
}

h3{
  font-weight: bold;
  font-size: 1rem;
}

.subtitle{

}

strong{
  font-weight: bold;
  color: #ff255b;
  font-size: 120%;
}

em{
  font-style: normal;
  font-weight: 500;
  color: #ff255b;
}

header{
  width: 100%;
}

nav{
  position: fixed;
  background: #10112b;
  width: 100%;
}

section{
  background-color: transparent;
  padding: 3rem 1.5rem;
}

p > a{
  margin-right: 1rem;
}

.wrapper {
  margin: auto;
  max-width: 1024px;
}

.v-wrapper{
  margin-top: 10vh;
  margin-bottom: 10vh;
}

footer{
  background-color: #10112b;
  padding: 1rem;
}

.nav-links{
  padding: 0;
  margin: 0.5rem;
  list-style: none;
  display: flex;
}

.nav-links a{
  text-decoration: none;
  padding: 0 0.5rem;
  font-size: 0.8rem;
  font-weight: 400;
  color: #DDDDDD;
}

.nav-links a:hover{
  color: #ff255b;
  font-weight: bold;
}

.btn-icon{
    text-decoration: none;
    color: #CCCCCC;
    font-size: 2rem;
}

.btn-icon:hover{
  color: #ff255b;
}

.nudge-right{
  margin-right: 1rem;
}

.btn-label{
  font-size: 1rem;
}

.btn-text{
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bolder;
  color: #222222;
  background-color:#CCCCCC;
  padding: 0.25rem;
}


.btn-text:hover{
  background-color:#ff255b;
}

.icn-large{
  font-size: 3rem;
  color: #888;
  padding: 0.5rem 1rem;
}

.pic-large{
  width: 10rem;
  display: inline-block;
  height: auto;
  border-radius: 10px;
  margin: 0.5rem;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.col-1 {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}

.col-4 {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}

.row-list{
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.row-list > li{
  flex: 0 0 auto;
}



.push-right{
  margin-left: auto;
}

.contact-list{
  list-style: none;
}

.contact-list .btn-label{
  height: 2rem;
  line-height: 2rem;
  vertical-align: center;
}

@media (min-width: 50rem){
  .col-1{
    flex: 1;
  }

  .col-4{
    flex: 4;
  }

  h1{
    font-size: 4rem;
  }

  h2{
    font-size: 3rem;
  }
  
  h3{
    font-weight: 400;
    font-size: 2rem;
  }

  .subtitle{
    font-weight: 400;
    font-size: 2rem;
  }

  .v-wrapper{
    margin-top: 20vh;
    margin-bottom: 20vh;
  }

  .nav-links a{
    font-weight: 300;
    font-size: 1rem;
  }
}


