@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?woovfe');
  src:  url('fonts/icomoon.eot?woovfe#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?woovfe') format('truetype'),
    url('fonts/icomoon.woff?woovfe') format('woff'),
    url('fonts/icomoon.svg?woovfe#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-profile:before {
  content: "\e923";
}
.icon-phone:before {
  content: "\e942";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-location:before {
  content: "\e947";
}
.icon-mobile:before {
  content: "\e958";
}
.icon-user-tie:before {
  content: "\e976";
}
.icon-briefcase:before {
  content: "\e9ae";
}
.icon-tree:before {
  content: "\e9bc";
}
.icon-embed:before {
  content: "\ea7f";
}
.icon-embed2:before {
  content: "\ea80";
}
.icon-terminal:before {
  content: "\ea81";
}
.icon-mail:before {
  content: "\ea83";
}
.icon-mail2:before {
  content: "\ea84";
}
.icon-mail3:before {
  content: "\ea85";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-github:before {
  content: "\eab0";
}
.icon-linkedin:before {
  content: "\eac9";
}
.icon-linkedin2:before {
  content: "\eaca";
}
.icon-file-pdf:before {
  content: "\eadf";
}
